.preloader {
  position: fixed;
  inset: 0;
  background: #020617;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.loader-box {
  text-align: center;
  padding: 20px;
  animation: fadeScale 0.8s ease-in-out;
}

.loader-title {
  font-family: "Fira Code", monospace;
  font-size: 40px;
  color: #00eaff;
  margin-bottom: 10px;
}

.loader-sub {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: #c3d5ff;
}

.loading-bar {
  margin-top: 22px;
  width: 200px;
  height: 5px;
  background: rgba(0, 255, 255, 0.1);
  overflow: hidden;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}

.loading-bar span {
  display: block;
  width: 100%;
  height: 100%;
  background: cyan;
  animation: load 2s infinite linear;
}

@keyframes load {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes fadeScale {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
